doctype html
html
  head
    title Detalle del Equipo
  body
    h1 Detalle del Equipo #{equipo.id}
    p
      strong Estado:
      | #{equipo.estado}
    p
      strong Marca:
      | #{equipo.marca}
    button(onclick="generateQR()") Generar QR
    br
    img#qrImage
    br
    a#downloadLink Descargar Código QR

    script.
      function generateQR() {

      const equipo = {
        id: #{equipo.id},
        estado:  "#{equipo.estado}",
        marca:  "#{equipo.marca}",
        aula_id: {
          id: #{equipo.aula_id.id},
          nombre: "#{equipo.aula_id.nombre}",
          edificio_id: {
            id: #{equipo.aula_id.edificio_id.id},
            nombre: "#{equipo.aula_id.edificio_id.nombre}",
            letra: "#{equipo.aula_id.edificio_id.letra}"
          }
        }
      };

      const { 
        id: equipoId, 
        aula_id: aula, 
        aula_id: { 
          edificio_id: edificio 
        } 
      } = equipo;

        const url = `http://localhost:3000/generar-pdf/pdf/${equipo.id}`;
        const qrImage = document.getElementById('qrImage');
        const downloadLink = document.getElementById('downloadLink');
        
        qrImage.src = `/generarQR?url=${encodeURIComponent(url)}`;
        
        
        const fileName = `EQUIPO_${equipoId}_AULA_${aula.nombre}_EDIFICIO_${edificio.nombre}.png`;
        
        downloadLink.href = qrImage.src;
        downloadLink.download = fileName;
      }
